@import "../../css/constants/constants.scss";
@import "../../css/mixin/mixin.scss";

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $height-header;
    align-items: center;
    padding: 5px auto;
    position: relative;
    z-index: 1;
    .header-item {
        height: 100%;
        margin: auto 8px;
        @include flex-center();

        a {
            text-decoration: none;
            font-size: 13px;
            font-style: normal;
            line-height: 24px;
            font-weight: 400;
            font-family: arial, sans-serif;
            // color: rgba(0, 0, 0, 0.87);
            color: white;

            &:hover {
                text-decoration: underline;
                // color: rgb(121, 121, 115);
                color: rgb(238, 230, 230);
            }
        }
    }
    .container-google-apps-expand-icon {
        margin: 0 2px;
        @include flex-center();
        padding: 4px;
        .google-apps-round {
            @include flex-center();
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            transition: $quick-transition;

            &:hover {
                background-color: #ffffff1a;
            }
            @include title-hover(-50%);
            .image-container {
                background-image: url("../../images/svg-file/google-apps.svg");
                background-size: initial;
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                color: green($color: #000000);
            }
        }
    }
    .container-google-account-expand-icon {
        margin: 0 6px 0 4px;
        @include flex-center();
        padding: 4px;

        .google-account-round {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            @include flex-center();
            position: relative;
            transition: $quick-transition;

            &:hover {
                background-color: #ffffff1a;
            }

            @include title-hover(-300%);

            .image-container {
                background-size: cover;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                color: green($color: #000000);
                border-radius: 50%;
            }
        }
    }
}
